# SSH key
SSH_PRIVATE_KEY_PATH="$HOME/.ssh/k8s.key"
SSH_PUBLIC_KEY_PATH="$HOME/.ssh/k8s.key.pub"

# Networking
BRIDGE_NAME="k8s_br0"
BRIDGE_CIDR="10.10.10.1/24"

# Kubernetes version to install
KUBE_VERSION="1.34"

# Kubernetes CNI to install
# Choose one of flannel | calico | silium
CNI_PLUGIN="cilium"
# calico version, either "latest" or specific version, only applicable when CNI_PLUGIN="calico"
CALICO_VERSION="3.31.0"
# cilium CLI and cilium version, either "latest" or specific version, only applicable when CNI_PLUGIN="cilium"
CILIUM_CLI_VERSION="0.18.8"
CILIUM_VERSION="1.18.3"
# flannel version, either "latest" or specific version, only applicable when CNI_PLUGIN="flannel"
FLANNEL_VERSION="0.27.4"

# Kubernetes pod CIDR
K8S_POD_CIDR="10.244.0.0/16"

# Kubernetes service CIDR
K8S_SERVICE_CIDR="10.96.0.0/12"

# Ubuntu version to install, e.g. 22.04, 24.04
NODE_OS_VERSION="24.04"

# - Make sure the node IP and the MAC Address is unique and you have sufficient resources for all the nodes
# - The node IP must be on the same CIDR as the BRIDGE_CIDR
# - The name of the node must start with k8s-lb, k8s-master, and k8s-worker
# Node definitions: name, MAC, IP, CPUs, MEMORY, DISK
NODES=(
  "k8s-lb 1a:2b:3c:4d:5e:6f 10.10.10.10 1 1G 4G"
  "k8s-master-01 1a:2b:3c:4d:5e:01 10.10.10.101 2 2G 16G"
  "k8s-master-02 1a:2b:3c:4d:5e:02 10.10.10.102 2 2G 16G"
  "k8s-master-03 1a:2b:3c:4d:5e:03 10.10.10.103 2 2G 16G"
  "k8s-worker-01 5e:4d:3c:2b:1a:01 10.10.10.201 2 16G 64G"
  "k8s-worker-02 5e:4d:3c:2b:1a:02 10.10.10.202 2 16G 64G"
  "k8s-worker-03 5e:4d:3c:2b:1a:03 10.10.10.203 2 16G 64G"
)

# haproxy version, either "latest" or specific version
HAPROXY_VERSION="2.8.5-1ubuntu3.4"

# containerd version, either "latest" or specific version
CONTAINERD_VERSION="1.7.28-0ubuntu1~24.04.1"

# install cluster components

INSTALL_METRICS_SERVER=true
# metrics server version, either "latest" or specific version
METRICS_SERVER_VERSION="0.8.0"

# Additional tools

INSTALL_HELM=true
# helm version, either "latest" or specific version
HELM_VERSION="3.19.0"

INSTALL_FLUX=true
# flux version, either "latest" or specific version
FLUX_VERSION="2.7.3"
