# SSH key
SSH_PRIVATE_KEY_PATH="$HOME/.ssh/k8s.key"
SSH_PUBLIC_KEY_PATH="$HOME/.ssh/k8s.key.pub"

# Networking
BRIDGE_NAME="k8s_br0"
BRIDGE_CIDR="10.10.10.1/24"

# Kubernetes version to install
KUBE_VERSION="1.34"

# Kubernetes CNI to install
# Choose one of flannel | calico | silium
CNI_PLUGIN="cilium"
# calico version, either "latest" or specific version, only applicable when CNI_PLUGIN="calico"
CALICO_VERSION="3.31.0"
# cilium CLI and cilium version, either "latest" or specific version, only applicable when CNI_PLUGIN="cilium"
CILIUM_CLI_VERSION="0.18.8"
CILIUM_VERSION="1.18.3"
# flannel version, either "latest" or specific version, only applicable when CNI_PLUGIN="flannel"
FLANNEL_VERSION="0.27.4"

# Kubernetes pod CIDR
K8S_POD_CIDR="10.244.0.0/16"

# Kubernetes service CIDR
K8S_SERVICE_CIDR="10.96.0.0/12"

# Ubuntu version to install, e.g. 22.04, 24.04
NODE_OS_VERSION="24.04"

# - Make sure the node IP and the MAC Address is unique and you have sufficient resources for all the nodes
# - The node IP must be on the same CIDR as the BRIDGE_CIDR
# - The name of the node must start with k8s-lb, k8s-master, and k8s-worker
# Node definitions: name, MAC, IP, CPUs, MEMORY, DISK
NODES=(
  "k8s-lb 1a:2b:3c:4d:5e:6f 10.10.10.10 1 1G 4G"
  "k8s-master-01 1a:2b:3c:4d:5e:01 10.10.10.101 2 2G 16G"
  "k8s-master-02 1a:2b:3c:4d:5e:02 10.10.10.102 2 2G 16G"
  "k8s-master-03 1a:2b:3c:4d:5e:03 10.10.10.103 2 2G 16G"
  "k8s-worker-01 5e:4d:3c:2b:1a:01 10.10.10.201 2 16G 64G"
  "k8s-worker-02 5e:4d:3c:2b:1a:02 10.10.10.202 2 16G 64G"
  "k8s-worker-03 5e:4d:3c:2b:1a:03 10.10.10.203 2 16G 64G"
)

ALLOW_SCHEDULING_ON_MASTER_NODES=true

# haproxy version, either "latest" or specific version
HAPROXY_VERSION="2.8.5-1ubuntu3.4"

# containerd version, either "latest" or specific version
CONTAINERD_VERSION="1.7.28-0ubuntu1~24.04.1"

# helm version, either "latest" or specific version
HELM_VERSION="3.19.0"

# install cluster components

INSTALL_METRICS_SERVER=true
# metrics server version, either "latest" or specific version
METRICS_SERVER_VERSION="0.8.0"

INSTALL_METALLB=true
# metallb helm chart version, either "latest" or specific version
METALLB_HELM_CHART_VERSION="0.15.2"
# metallb IP Range Pool
METALLB_IP_RANGE_START="10.10.10.20"
METALLB_IP_RANGE_END="10.10.10.29"

# install ingress-controller or not, either "none", "nginx", or "traefik"
INSTALL_INGRESS_CONTROLLER="nginx"
# number of pods for the selected ingress controller
INGRESS_CONTROLLER_REPLICAS=2
# ingress-nginx version, must specified specific version, only applicable when INSTALL_INGRESS_CONTROLLER="nginx"
INGRESS_NGINX_VERSION="1.13.3"
# traefik helm chart version, either "latest" or specific version, only applicable when INSTALL_INGRESS_CONTROLLER="traefik"
TRAEFIK_HELM_CHART_VERSION="37.2.0"

INSTALL_LONGHORN=true
# longhorn helm chart version, either "latest" or specific version
LONGHORN_HELM_CHART_VERSION="1.10.0"
# Number of replicas for each Longhorn volume. 
# Determines how many copies of the data are stored across nodes for redundancy. 
# Must be >= 1
LONGHORN_VOLUME_REPLICAS=3
# Bytes per inode when formatting Longhorn volumes. 
# Smaller values allow more files (good for many small files), 
# larger values reduce metadata overhead (better for large files).
LONGHORN_VOLUME_INODE_SIZE=8192

INSTALL_KUBE_PROMETHEUS_STACK=true
# kube-prometheus-stack helm chart version, either "latest" or specific version
KUBE_PROMETHEUS_STACK_HELM_CHART_VERSION="79.5.0"
# kube-prometheus-stack components, only applicable when INSTALL_KUBE_PROMETHEUS_STACK=true
ENABLE_NODE_EXPORTER=true
ENABLE_KUBE_STATE_METRICS=true
ENABLE_ALERTMANAGER=true
ENABLE_GRAFANA=true

INSTALL_VPA=true
# vpa version, either "latest" or specific version
VPA_VERSION="1.5.1"

INSTALL_KEDA=true
# keda helm chart version, either "latest" or specific version
KEDA_HELM_CHART_VERSION="2.18.1"

INSTALL_ARGOCD_SERVER=true
# Argo CD Server version, either "latest" or specific version
ARGOCD_SERVER_VERSION="3.2.0"

# Additional tools

INSTALL_FLUX=true
# flux version, either "latest" or specific version
FLUX_VERSION="2.7.3"

INSTALL_ARGOCD_CLI=true
# Argo CD CLI version, either "latest" or specific version
ARGOCD_CLI_VERSION="3.2.0"
