    - name: Download Calico manifest (latest)
      get_url:
        url: "https://raw.githubusercontent.com/projectcalico/calico/master/manifests/calico.yaml"
        dest: /tmp/calico-latest.yaml
        force: yes
      when: calico_version == "latest"

    - name: Download Calico manifest (specific version)
      get_url:
        url: "https://raw.githubusercontent.com/projectcalico/calico/v{{ calico_version }}/manifests/calico.yaml"
        dest: /tmp/calico-{{ calico_version }}.yaml
      when: calico_version != "latest"

    - name: Apply Calico manifest
      command: kubectl apply -f /tmp/calico-{{ calico_version }}.yaml
      environment:
        KUBECONFIG: "{{ kubeconfig }}"

    - name: Wait for Calico pods to be ready
      command: kubectl -n kube-system rollout status daemonset/calico-node
      environment:
        KUBECONFIG: "{{ kubeconfig }}"
      retries: 20
      delay: 15
      register: calico_rollout
      until: calico_rollout.rc == 0

    - name: Get Calico status
      shell: kubectl get pods -n kube-system | grep "calico"
      environment:
        KUBECONFIG: "{{ kubeconfig }}"
      register: calico_status

    - name: Show Calico status
      debug:
        var: calico_status.stdout
